
*,
*:before,
*:after {
  box-sizing: border-box;
}


.App {
  text-align: center;
  
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
display: flex;
flex-direction: column;
margin: 1rem;
}


.drum-machine {
/* margin: 10rem; */
}

.drumkit-container {
  /* width: 100%; */
  height: 30vh;
  border: 1px solid black; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.display-container {
  /* width: 100%; */
  height: 10vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  /* padding: 3rem; */

}

.display {
  text-align: center;
  padding: 0 1rem;
  
}

.drum-pad {
  width: 50px; 
  height: 80px;
  border: 1px solid black;
  background-color: orangered;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

h3.drum-pad-triggered {
  border: 5px solid blue
}


.log-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  min-height: 5rem;
  border: 1px solid black;
  margin-top: 01rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;  
  padding: .5rem 1rem;
}

.event-log {
  min-height: 5rem;  flex-grow: 1;
  border: solid 1px black;
  margin-top: 01rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;}

.content-container {
  height: 10rem;
  border: 1px solid black;
  margin-bottom: 1rem 0;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
@media (max-width: 756px) {
  .main-container {
    flex-direction: column;
  } */
/* 
  .drumkit-container {
    width: 100vw;
    height: calc(30vh - 10vh);
  }

  .display-container {
    width: 100vw;
    height: 20vh;
  }
} */